body {
    font-family: verdana;
  }
  
  .phpcoding {
    width: 100%;
    margin: 0 auto;
    background: #ddd;
  }
  
  .headeroption,
  .footeroption {
    background: #444;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .headeroption h2,
  .footeroption h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .maincontent {
    min-height: 400px;
    padding: 20px;
    font-size: 18px;
  }
  
  p {
    margin: 0;
  }
  

  
  select {
    font-size: 18px;
    padding: 2px 5px;
    width: 250px;
  }
  /* Table Design */
  .tblone {
    width: 100%;
    border: 1px solid #fff;
    margin: 10px 0;
  }
  .tblone th {
    padding: 5px 10px;
    text-align: center;
  }
  .tblone td {
    padding: 5px 10px;
    text-align: center;
  }
  table.tblone tr:nth-child(2n + 1) {
    background: #fff;
    height: 30px;
  }
  table.tblone tr:nth-child(2n) {
    background: #f1f1f1;
    height: 30px;
  }
  /* Form Design */
  #myform {
    width: 400px;
    border: 1px solid #fff;
    padding: 10px;
  }
  #table-form{
    background: #55efc4;
    padding: 20px 10px;
  }

  #save-button{
    background:#2c3e50;
    color: #fff;
    border:0;
    padding: 8px 30px;
    margin-left: 7px;
    border-radius: 3px;
    cursor: pointer;
  }
  #table-data{
    padding: 15px;
    
    vertical-align: top;
  }
  #table-data th{
    background: #74b9ff;
  }
  #table-data tr:nth-child(odd){
    background: #ecf0f1;
  }
  #success-message{
    background: #DEF1D8;
    color: green;
    padding: 10px;
    margin: 10px;
    display: none;
    position: absolute;
    right: 218px;
    top: 0px;
  }
  #error-message{
    background: #EFDCDD;
    color: red;
    padding: 10px;
    margin: 10px;
    display: none;
    position:absolute;
    right: 218px;
    top: 0px;
  }
  .delete-btn{
    background:#e74c3c;
    color: #fff;
    border:0;
    padding: 4px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  .edit-btn{
    background: #27ae60;
    color: white;
    border: 0;
    padding: 4px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  #modal{
    background: rgba(0,0,0,0.7);
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
  }
  #modal-form{
    background: #fff;
    width: 30%;
    position: relative;
    top: 20%;
    left: calc(50% - 15%);
    padding: 15px;
    border-radius: 4px;
  }
  #modal-form h2{
    margin: 0 0 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
  }

  #close-btn{
    background: red;
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
  }
  